server:
  port: 8082

spring:
  application:
    name: notification-service

  data:
    mongodb:
      uri: mongodb://orders_mongo:27017/notifications_db

  kafka:
    bootstrap-servers: orders_kafka:9092
    consumer:
      group-id: notification-service
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      auto-offset-reset: earliest
    listener:
      ack-mode: record

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.kafka: INFO
    com.quind.ecommerce.notification: DEBUG
